.corporate {
  width: 80vw;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
}

.form_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 80%;
  margin: 0px auto;
}

.corporate_name,
.corporate_phone,
.corporate_email,
.corporate_organization,
.corporate_query,
.corporate_button {
  width: 100%;
  margin: 20px 0;
}

.input-name,
.input-phone,
.input-email,
.input-organization,
.input-query {
  width: 100%;
}

.input-button {
  background-color: var(--primary-color);
  padding: 10px 30px;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 12px;
}

.copyright p {
  font-weight: 700;
}

@media only screen and (max-width: 540px) {
  .corporate {
    width: 100vw;
  }
}
